/*
* Customização do admix
*/

.btn-secondary.dropdown-toggle,
.show > .btn-secondary.dropdown-toggle,
.show > .btn-secondary.dropdown-toggle:focus {
  background-color: #fff;
  color: $gray-600;
  box-shadow: none;
}

.card-header .custom-select {
  height: 2.05rem;
  line-height: 1.1;
}

.custom-control-label::before {
  background: white;
}

.form-group.row {
  display: flex;
}

.toast .close:before {
  content: "";
}

select[disabled] {
  -webkit-appearance: none;
}

form.destroy {
  display: inline;
}

form.destroy button {
  border: 0;
  margin: 0;
  background: none;
  padding: 0;
}

#formUploadMetaPost .col-xl-5 {
  flex: unset;
  max-width: 74.666667%; //col-xl-9
}

#formUploadMetaPost .list-group-item {
  padding: 0;
}

.card-list-group .list-group-item:last-child {
  //border-bottom: 1px solid $border-color;
}

.list-group-item {
  border: unset;
}

.list-group li:nth-of-type(even) {
  background-color: $table-accent-bg;
}

.table-striped thead tr {
  background-color: $table-accent-bg;
}

.card-header {
  border-bottom: unset;
}

.card-footer {
  border-top: unset;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: $white;
  color: $gray-700;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#sidebar .nav-item {
  display: block;
}

#dismiss {
  //width: 35px;
  //height: 35px;
  //line-height: 35px;
  //text-align: center;
  //background: #7386D5;
  //position: absolute;
  //top: 10px;
  //right: 10px;
  //cursor: pointer;
  //-webkit-transition: all 0.3s;
  //-o-transition: all 0.3s;
  //transition: all 0.3s;
}

#dismiss:hover {
  //background: #fff;
  //color: #7386D5;
}

.overlay {
  top: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: $body-bg;
}

#sidebar ul.components {
  padding: 20px 0;
  //border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: $gray-700;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  //font-size: 1.1em;
  display: block;
  color: $gray-700
}

#sidebar ul li a:hover {
  color: $gray-700;
  background: $gray-100;
  text-decoration: none
}

//#sidebar ul li.active > a,
//a[aria-expanded="true"] {
//  color: #fff;
//  background: $gray-100;
//}

//a[data-toggle="collapse"] {
//  position: relative;
//}
//
//.dropdown-toggle::after {
//  display: block;
//  position: absolute;
//  top: 50%;
//  right: 20px;
//  transform: translateY(-50%);
//}

// file-input
.file-drop-zone {
  border: unset;
  margin: unset;
  padding: unset;
}

.file-drop-zone.clickable:hover, .file-drop-zone.clickable:focus {
  border: unset;
}

.file-caption-main.no-browse {
  display: none;
}

.file-preview-image {
  border-radius: $border-radius;
}

.file-preview {
  border: 1px solid $border-color;
  background: $white;
}

.file-no-browse:disabled {
  opacity: 0;
}

.single-upload .file-preview {
  width: max-content;
}

.single-upload .krajee-default.file-preview-frame {
  border: unset;
  padding: 0;
}

.single-upload .krajee-default.file-preview-frame:not(.file-preview-error):hover {
  border: unset;
  padding: 0;
}

.krajee-default.file-preview-frame {
  margin: unset;
  box-shadow: unset;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.krajee-default.file-preview-frame:not(.file-preview-error):hover {
  box-shadow: unset;
  border: 1px solid $border-color;
}

.krajee-default.file-preview-frame .kv-file-content {
  width: unset;
  height: unset;
  max-width: 300px;
  max-height: 300px;
}

.krajee-default .file-upload-indicator, .krajee-default .file-drag-handle {
  float: left;
  margin: unset;
  width: unset;
  height: unset;
}

// fim file-input

// centraliza o login
.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100%;
}

.page-single {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 0;
}

// fim centraliza o login

.navbar-toggler-icon {
  outline: unset;
}

.navbar-toggler-icon i {
  font-size: 2rem;
}

.brd-b {
  border-bottom: 1px solid $border-color;
}

.btn-loading {
  color: transparent !important;
  pointer-events: none;
  position: relative;
}

.btn-loading:after {
  content: '';
  -webkit-animation: loader 500ms infinite linear;
  animation: loader 500ms infinite linear;
  border: 2px solid #fff;
  border-radius: 50%;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  display: block;
  height: 1.4em;
  width: 1.4em;
  left: calc(50% - (1.4em / 2));
  top: calc(50% - (1.4em / 2));
  -webkit-transform-origin: center;
  transform-origin: center;
  position: absolute !important;
}

.btn-loading.btn-sm:after, .btn-group-sm > .btn-loading.btn:after, .dataTables_wrapper .dataTables_paginate .btn-group-sm > .btn-loading.paginate_button:after {
  height: 1em;
  width: 1em;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
}

.btn-loading.btn-secondary:after, .dataTables_wrapper .dataTables_paginate .btn-loading.paginate_button:after {
  border-color: #495057;
}

// medium-editor
.medium-editor-element {
  overflow: auto;
  display: block;
  width: 100%;
  max-height: 25rem;
  min-height: 10rem;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  @include form-control-focus();

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    opacity: 1;
  }
}

.medium-editor-toolbar li .medium-editor-button-active,
.medium-editor-toolbar li button:hover {
  color: #fafafa;
}
// fim medium-editor

.collapsing {

  min-height: 100%;
  overflow: hidden;
  width: 16rem;
  transition: 0.3s width ease-in;

  .width {
    width: 14.5rem;
    height: 100%;
  }
}
