/*
* Customização do admix
*/

.form-group.row {
  display: flex;
}

.toast .close:before {
  content: "";
}

select[disabled] {
  -webkit-appearance: none;
}

form.destroy {
  display: inline;
}

form.destroy button {
  border: 0;
  margin: 0;
  background: none;
  padding: 0;
}

.card-list-group .list-group-item:last-child {
  border-bottom: 1px solid $border-color;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: $white;
  color: $gray-700;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#sidebar .nav-item {
  display: block;
}

#dismiss {
  //width: 35px;
  //height: 35px;
  //line-height: 35px;
  //text-align: center;
  //background: #7386D5;
  //position: absolute;
  //top: 10px;
  //right: 10px;
  //cursor: pointer;
  //-webkit-transition: all 0.3s;
  //-o-transition: all 0.3s;
  //transition: all 0.3s;
}

#dismiss:hover {
  //background: #fff;
  //color: #7386D5;
}

.overlay {
  top: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: $body-bg;
}

#sidebar ul.components {
  padding: 20px 0;
  //border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: $gray-700;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  //font-size: 1.1em;
  display: block;
  color: $gray-700
}

#sidebar ul li a:hover {
  color: $gray-700;
  background: $gray-100;
  text-decoration:none
}

//#sidebar ul li.active > a,
//a[aria-expanded="true"] {
//  color: #fff;
//  background: $gray-100;
//}

//a[data-toggle="collapse"] {
//  position: relative;
//}
//
//.dropdown-toggle::after {
//  display: block;
//  position: absolute;
//  top: 50%;
//  right: 20px;
//  transform: translateY(-50%);
//}

// file-input
.file-drop-zone {
  border:unset;
  margin: unset;
  padding: unset;
}

.file-preview-image {
  border-radius: $border-radius;
}

.file-preview {
  border: 1px solid $border-color;
}

.krajee-default.file-preview-frame {
  margin: unset;
  box-shadow: unset;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.krajee-default.file-preview-frame:not(.file-preview-error):hover {
  box-shadow: unset;
  border: 1px solid $border-color;
}

.krajee-default.file-preview-frame .kv-file-content {
  width: unset;
  height: unset;
  max-width: 300px;
  max-height: 300px;
}
// fim file-input